.footer {
    display: flex;
    flex-direction: column;
    padding: 30px 0 15px 15px;
    background-color: #272525;
    color: white;
        &__title {
            font-family: 'Shrikhand', sans-serif;
            margin-bottom: 30px;
        }
        &__content {
            margin-bottom: 10px;
                & i {
                    margin-right: 5px;
                }
            & a {
                text-decoration: none;
                color: white;
            }
        }
}