.loading-spinner {
    color: $color-primary;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 40%;
    transform: translateZ(0);
    z-index: -2;
    animation: load 3s ease-in-out both, round 3s ease-in-out both;
    @include tablette {
        font-size: 120px;
    }
    @include desktop {
        right: 45%;
        font-size: 200px;
    }
}

