@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes translate {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-menu {
  0% {
    transform: translateX(-9999px);
  }
  10% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.eot");
  src: local(""), url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2"), url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("./../../fonts/Shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./../../fonts/Roboto/roboto-v20-latin-regular.eot");
  src: local(""), url("./../../fonts/Roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("./../../fonts/Roboto/roboto-v20-latin-regular.woff") format("woff"), url("./../../fonts/Roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("./../../fonts/Roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto-light";
  font-style: normal;
  font-weight: 100;
  src: url("./../../fonts/Roboto/roboto-v20-latin-100.eot");
  src: local(""), url("./../../fonts/Roboto/roboto-v20-latin-100.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Roboto/roboto-v20-latin-100.woff2") format("woff2"), url("./../../fonts/Roboto/roboto-v20-latin-100.woff") format("woff"), url("./../../fonts/Roboto/roboto-v20-latin-100.ttf") format("truetype"), url("./../../fonts/Roboto/roboto-v20-latin-100.svg#Roboto") format("svg");
}
header {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 80px;
  align-items: center;
  box-shadow: 0px 3px 0px 1px #c6c3c3;
}
header a {
  text-decoration: none;
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 1.8em;
}
header .back {
  position: absolute;
  left: 10px;
  font-size: 1.2em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    font-size: 2em;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 15px 15px;
  background-color: #272525;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 30px;
}
.footer__content {
  margin-bottom: 10px;
  cursor: pointer;
}
.footer__content i {
  margin-right: 5px;
}
.footer__content a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__title {
    font-size: 2em;
  }
}

.loading-spinner {
  color: #9356DC;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 333px;
  right: 150px;
  transform: translateZ(0);
  z-index: -1;
  animation: load 3s ease-in-out both, round 3s ease-in-out both;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .loading-spinner {
    top: 500px;
    right: 350px;
    font-size: 120px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.load {
  animation: translate 3s ease-in-out both;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ebeaea;
  padding-left: 25px;
}
.searchbar__geo {
  height: 25px;
  background-color: #ebeaea;
  border: 1px solid #ebeaea;
}
.searchbar__form input {
  border: 1px solid #ebeaea;
  background-color: #ebeaea;
}
.searchbar__form input::placeholder {
  opacity: 1;
  color: black;
  font-size: 1em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .searchbar {
    height: 75px;
    padding-left: 0;
  }
  .searchbar__geo {
    height: 50px;
    font-size: 1.5em;
  }
  .searchbar__form input::placeholder {
    font-size: 1.5em;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 30px 20px;
  background-color: #f5f5f5;
}
.explore__title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 0 50px 0 50px;
}
.explore__subtitle {
  text-align: center;
  padding: 0 40px 0 40px;
  font-size: 0.9em;
  margin-top: 15px;
  font-family: "Roboto-light", sans-serif;
}
.explore__btn {
  position: relative;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  width: 175px;
  padding: 0 15px 0 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  box-shadow: 3px 3px 10px #bbb7b7;
}
.explore__btn:active::after {
  opacity: 1;
}
.explore__btn::after {
  content: "Explorer nos restaurants";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  padding: 0 15px 0 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 3px 5px 5px #9e9898;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .explore__title {
    font-size: 1.5em;
  }
  .explore__subtitle {
    font-size: 1.2em;
  }
}

.function {
  padding: 30px 0 15px 15px;
}
.function__title {
  font-size: 1.2em;
  font-weight: bold;
}

.step {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .step {
    flex-direction: row;
  }
}
.step__bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin: 15px 15px 15px 10px;
  border-radius: 25px;
  position: relative;
  height: 80px;
  box-shadow: 3px 3px 10px #bbb7b7;
}
.step__number {
  display: flex;
  background-color: #9356DC;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
  font-size: 0.7em;
}
.step__logo {
  margin: 0 20px 0 30px;
  opacity: 0.5;
  font-size: 120%;
}

.step3 {
  background-color: #f1e6ff;
}
.step3__logo {
  color: #6800e6;
}

.restau {
  background-color: #f5f5f5;
  padding: 30px 15px 50px 15px;
}
.restau__title {
  font-size: 1.2em;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restau {
    padding-left: 0;
  }
  .restau__title {
    padding-left: 20px;
  }
}

article a {
  text-decoration: none;
  color: black;
}

.restau__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restau__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 15px 0 15px 0;
  box-shadow: 3px 3px 10px #bbb7b7;
  position: relative;
}
.cards__new {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7em;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  padding: 10px;
  border-radius: 5px;
}
.cards__img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
}
.cards__txt {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 10px;
}
.cards__title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}
.cards__subtitle {
  font-size: 0.9em;
  font-family: "Roboto-light", sans-serif;
  font-weight: 100;
}
.cards__like {
  position: relative;
  top: 10px;
  right: 15px;
}
.cards__like--noactive {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  transition: opacity 200ms ease-in-out;
  opacity: 1;
  z-index: 1;
}
.cards__like--noactive:active {
  opacity: 0;
}
.cards__like--noactive:active + .cards__like--active {
  opacity: 1;
}
.cards__like--active {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards {
    width: 350px;
    margin-left: 20px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.cover__img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 84px;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f5f5f5;
  padding: 1px 15px 50px 15px;
  margin-top: 210px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title p {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}
.menu__title i {
  font-size: 1.5em;
  margin-left: 70px;
  opacity: 0.5;
}
.menu__subtitle {
  font-family: "Roboto-light", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 40px;
}
.menu__subtitle--underline {
  height: 2px;
  width: 40px;
  background-color: #99E2D0;
  border-radius: 20px;
  margin-top: 5px;
}
.menu__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  padding: 0 10px;
  margin: 10px 0;
  box-shadow: 3px 3px 10px #bbb7b7;
}
.menu__bar:active > .checkbox {
  transform: translate(-50px, 0px);
}
.menu__bar:active > .checkbox .menu__bar--confirm .menu__bar--icone {
  transform: rotate(0deg);
}
.menu__bar:active > .menu__bar--meal {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px;
}
.menu__bar--meal {
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__bar--topping {
  font-size: 0.9em;
  font-family: "Roboto-light", sans-serif;
  font-weight: 100;
}
.menu__bar--price {
  font-size: 0.8em;
  margin-top: 25px;
  position: relative;
  left: 40px;
  top: 15px;
}
.menu__bar--confirm {
  background-color: #99E2D0;
  color: white;
  height: 52px;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  left: 60px;
}
.menu__bar--icone {
  position: relative;
  top: 5px;
  transform: rotate(180deg);
  transition-duration: 0.8s;
}
.menu__btn {
  position: relative;
  margin: 50px 85px 0 85px;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  width: 175px;
  padding: 0 15px 0 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  box-shadow: 3px 3px 10px #bbb7b7;
}
.menu__btn:active::after {
  opacity: 1;
}
.menu__btn::after {
  content: "Commander";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  padding: 0 15px 0 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 3px 5px 5px #9e9898;
}
.menu__entrees {
  animation: translate-menu 3000ms ease-in-out both;
}
.menu__plats {
  animation: translate-menu 3000ms 200ms ease-in-out both;
}
.menu__desserts {
  animation: translate-menu 3000ms 400ms ease-in-out both;
}

.checkbox {
  display: flex;
  transition: all 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
