body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    @include border-searchbar;
    background-color: $background-searchbar;
    padding-left: 25px;
        &__geo {
            height: 25px;
            background-color: $background-searchbar;
            border: 1px solid $background-searchbar;
        }
        &__form {
                & input {
                    border: 1px solid $background-searchbar;
                    background-color: $background-searchbar;
                        &::placeholder {
                            opacity: 1;
                            color: black;
                            font-size: 1em;
                        }
                }
        }
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 30px 20px;
    background-color: $background-all;
        &__title {
            @include font-title;
            text-align: center;
            padding: 0 50px 0 50px;
        }
        &__subtitle {
            text-align: center;
            flex-wrap: wrap;
            padding: 0 40px 0 40px;
            font-size: $size-subtitle;
            margin-top: 15px;
            font-weight: 300;
            opacity: 0.6;
        }
        &__btn {
            margin-top: 15px;
            border-radius: 50px;
            height: 50px;
            padding: 0 15px 0 15px;
            background-image: linear-gradient($color-secondary, $color-primary);
            color: white;
            font-family: 'Roboto', sans-serif;
            border: none;
            @include box-shadow;
        }
}

.function {
    display: flex;
    flex-direction: column;
    padding: 30px 0 15px 15px;
        &__title {
            @include font-title;
        }
}

.step {
    display: flex;
    align-items: center;
    background-color: $background-all;
    margin: 15px 15px 15px 10px;
    border-radius: 25px;
    position: relative;
    height: 80px;
    @include box-shadow;
        &__number {
            background-color: $color-primary;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            text-align: center;
            color: white;
            position: absolute;
            left: -10px;
        }
        &__logo {
            margin: 0 20px 0 30px;
            opacity: 0.5;
            font-size: 120%;
        }
}

.step3 {
    background-color: pastel($color-primary);
        &__logo {
            color: darken(pastel($color-primary),50);
        }
}

.restau {
    display: flex;
    flex-direction: column;
    background-color: $background-all;
    padding: 30px 15px 50px 15px;
        &__title {
            @include font-title;
        }
}

.cards {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: white;
    border-radius: $radius-cards;
    margin: 15px 0 15px 0;
    @include box-shadow;
    position: relative;
        &__new {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 0.7em;
            font-weight: bold;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40);
            padding: 10px;
            border-radius: 5px;
        }
        &__img {
            object-fit: cover;
            border-top-left-radius: $radius-cards;
            border-top-right-radius: $radius-cards;
            height: 200px;
        }
        &__txt {
            margin: 10px 0 10px 10px;
            position: relative;
        }
        &__title {
            font-size: 1em;
            font-weight: 550;
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: $size-subtitle;
            opacity: 0.6;
        }
        &__like {
            position: absolute;
            top: 10px;
            right: 15px;
            opacity: 1;
                &:hover {
                    opacity: 0;
                    transition: opacity 400ms;
                }
            &--hover {
                position: absolute;
                top: 10px;
                right: 15px;
                opacity: 0;
                    &:hover {
                        color: $color-primary;
                        opacity: 1;
                        transition: opacity 400ms;
                    }
            }
        }
}